/** Contact styling */

.contact {
    height: 80vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
  }
  
  .contact-flex-one {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 30vh;
    width: 100vw;
    margin-left: auto;
    margin-right: auto;
  }
  
  .contact-one-h1 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.2em;
    text-align: center;
  }
  
  .contact-one-h2 {
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1em;
  }
  
  .contact-flex-two {
    display: flex;
    height: 50vh;
    width: 100vw;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
  }
  
  .contact-email {
    border-radius: 0.5em;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0.5em;
  }
  
  .contact-btn-icon {
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .contact-form {
    display: flex;
    flex-flow: column;
  }
  
  .contact-title {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1em;
  }
  
  .form-box {
    display: flex;
    flex-flow: column;
    padding-top: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
    flex: 0 1 auto;
  }
  
  .input {
    padding: 0.3em;
    border-radius: 0.3em;
    border: 1px gray;
    border-style: double;
  }
  
  .textarea {
    padding: 0.3em;
    border-radius: 0.3em;
    border: 1px grey;
    border-style: double;
    height: 3em;
    margin-bottom: 1em;
  }
  
  .button-box {
    margin-bottom: 0.3em;
  }
  
  #submit {
    padding: 5px;
    width: 100px;
    border: 1px gray;
    border-style: double;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /** Media Queries */
  
  @media only screen and (min-width: 700px) {
    .contact {
      flex-direction: row;
      align-items: center;
    }
  
    .contact-flex-one {
      height: 60vh;
      width: 300px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 1em;
      border-radius: 15px;
    }
  
    .contact-flex-two {
      height: 60vh;
      width: 300px;
      margin-top: auto;
      margin-bottom: auto;
      border-radius: 15px;
      margin-left: 15px;
      flex-direction: column;
    }
  
    .textarea {
      height: 3em;
      margin-bottom: 2em;
    }
  
    .contact-email-flex {
      margin-bottom: auto;
    }
  }
  
  @media only screen and (min-width: 1080px) {
    .contact-flex-two {
      width: 600px;
    }
  }
  