
/* about styling */
.about {
    display: flex;
    flex-direction: column;
}

.about-h1 {
    margin-top: 0.2em;
    text-align: center;
    margin-bottom: 0.4em;
    font-weight: 600;
    font-size: 1.2em;
    color: #06283D;
}

.about-h1-dark {
    font-weight: 400;
    color: aliceblue;
}

.about-text {
    padding: 1em;
    font-weight: 600;
}

.about-text-dark {
    color:aliceblue;
    font-weight: 400;
    padding: 1em;
}

.about-photo-box {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 1rem;
    border-radius: 5em;
    width: 60vw;
    max-width: 255px;
    max-height: 340px;
}

.about-photo-box-dark {
    color: aliceblue;
}

.about-photo {
    width: 60vw;
    max-width: 255px;
    border-radius: 5em;
}


@media (min-width: 768px) {
    .about-text {
       margin-left: 20vw;
       margin-right: auto;
       max-width: 450px;
    }
    
    .about-text-dark {
        margin-left: 20vw;
        margin-right: auto;
        max-width: 450px;
    }

    .about-photo-box {
        margin-top: 3vh;
    }
    .about-h1 {
        margin-top: 1em;
    }
}

@media (min-width: 992px) {

    .about {
        align-items: center;
    }

    .about-content-wrapper {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 992px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .about-text-wrapper {
        width: 65%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .about-text {
        margin-left: 0;
        margin-right: 0;
        width: 450px;
        text-align: start;
    }

    .about-text-dark {
        margin-left: 0;
        margin-right: 0;
        width: 450px;
        text-align: start;
    }

    .about-photo-box {
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
    }

}