/** Hero styling */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-loader-box {
  margin-top: 30vh;
}

.hero-title {
  position: relative;
  margin-top: 20vh;
  font-weight: 600;
}

.hero-name {
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font-weight: 600;
}

@media (min-width: 768px) {
  .hero {
    align-items: start;
  }
  .hero-loader-box {
    margin-left: 30vw;
  }
  .hero-title {
    margin-left: 30vw;
  }
}
