.navbar {
  position: fixed;
  display: flex;
  height: 10vh;
  width: 100vw;
  z-index: 999;
  background-color: none;
  transition: background-color 2s, color 2s;
}

.hamburger {
  height: 2.5rem;
  width: 2.5rem;
  padding: 1rem;
}

.darkMode-btn {
  height: 2.5rem;
  width: 2.5rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  border: none;
  background-color: grey;
  border-radius: 0.5em;
}

/* 
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    font-size: 1.5em;
    width: 100vw;
    top: 0;
    position: fixed;
    z-index: 9999;
  }
  
  .darkMode-btn {
    height: 2.5em;
    width: 2.5em;
    border: none;
    background-color: grey;
    border-radius: 0.5em;
  }
  */