.background {
  height: 135%;
  width: 100%;
  position: fixed;
  background: linear-gradient(
    180deg,
    rgba(53, 135, 255, 1) 17%,
    rgba(107, 151, 251, 1) 50%,
    rgba(119, 173, 251, 1) 100%
  );
}

.background-dark {
  background: linear-gradient(
    180deg,
    rgba(22, 21, 29, 1) 25%,
    rgba(43, 41, 56, 1) 75%,
    rgba(51, 29, 29, 0.989233193277311) 100%
  );
}

.starmap {
    position: absolute;
    left: 0%;
    opacity: 1;
  }
  
  .smallstars {
    height: 1px;
    width: 1px;
    background: transparent;
    position: absolute;
  }
  
  .medstars {
    height: 2px;
    width: 2px;
    background: transparent;
    position: absolute;
  }
  
  .largestars {
    height: 4px;
    width: 4px;
    background: transparent;
    position: absolute;
    filter: blur(1px);
  }

  .cloud-bank {
    position: absolute;
    left: 0%;
    top: 20vh;
  }
  