html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  height: auto;
}

/* Custom fonts */

@font-face {
  font-family: NothingYouCouldDo;
  src: url("./assets/fonts/NothingYouCouldDo-Regular.ttf");
}

/* Section positioning */
.main {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding-top: 10vh;
  height: 100vh;
  overflow: scroll;
}

.section {
  height: 80vh;
}

/* Navbar Styling */

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  font-size: 1.5em;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 9999;
}

.darkMode-btn {
  height: 2.5em;
  width: 2.5em;
  border: none;
  background-color: grey;
  border-radius: 0.5em;
}

/** Hero styling */

.hero {
  margin-top: 10vh;
}

.hero-cloud-box {
  position: relative;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-loader-box {
  position: absolute;
  top: 30vh;
  left: 50vw;
  transform: translateX(-50%);
}

.hero-title {
  position: absolute;
  bottom: 16vh;
  left: 20vw;
}

.hero-name {
  font-size: 2em;
  line-height: 2rem;
  animation: fadeinright 1s linear forwards;
  opacity: 0;
}

.hero-subtext {
  padding-top: 2vw;
  font-size: 1em;
  line-height: 1rem;
  font-weight: 600;
  animation-name: fadeinleft;
  animation-duration: 1.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  width: 45vw;
  opacity: 0;
}

.hero-tagline {
  padding-top: 3vw;
  font-size: 0.8em;
  line-height: 0.8rem;
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  animation: linearwipe 1s 2s linear forwards;
}

.starmap {
  height: 80vh;
  width: 100%;
  overflow: hidden;
  position: absolute;
  opacity: 1;
  animation: appear 2s linear forwards;
}

.smallstars {
  height: 1px;
  width: 1px;
  background: transparent;
  position: absolute;
}

.medstars {
  height: 2px;
  width: 2px;
  background: transparent;
  position: absolute;
}

.largestars {
  height: 4px;
  width: 4px;
  background: transparent;
  position: absolute;
  filter: blur(1px);
}

/** Contact styling */

.contact {
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
}

.contact-flex-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 30vh;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.contact-one-h1 {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1.2em;
  text-align: center;
}

.contact-one-h2 {
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
}

.contact-flex-two {
  display: flex;
  height: 50vh;
  width: 100vw;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

.contact-email {
  border-radius: 0.5em;
  margin-top: 0.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0.5em;
}

.contact-btn-icon {
  height: 3em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contact-form {
  display: flex;
  flex-flow: column;
}

.contact-title {
  margin-left: auto;
  margin-right: auto;
  padding-top: 1em;
}

.form-box {
  display: flex;
  flex-flow: column;
  padding-top: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  flex: 0 1 auto;
}

.input {
  padding: 0.3em;
  border-radius: 0.3em;
  border: 1px gray;
  border-style: double;
}

.textarea {
  padding: 0.3em;
  border-radius: 0.3em;
  border: 1px grey;
  border-style: double;
  height: 3em;
  margin-bottom: 1em;
}

.button-box {
  margin-bottom: 0.3em;
}

#submit {
  padding: 5px;
  width: 100px;
  border: 1px gray;
  border-style: double;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

/** Media Queries */

@media only screen and (min-width: 766px) {
  .contact {
    flex-direction: row;
    align-items: center;
  }

  .contact-flex-one {
    height: 60vh;
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1em;
    border-radius: 15px;
  }

  .contact-flex-two {
    height: 60vh;
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    margin-left: 15px;
    flex-direction: column;
  }

  .textarea {
    height: 3em;
    margin-bottom: 2em;
  }

  .contact-email-flex {
    margin-bottom: auto;
  }
}

@media only screen and (min-width: 1080px) {
  .contact-flex-two {
    width: 600px;
  }
}

/** Animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinright {
  0% {
    opacity: 0;
    transform: translateX(-40%);
  }
  70% {
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinleft {
  0% {
    opacity: 0;
    transform: translateX(40%);
  }
  70% {
    transform: translateX(0%);
  }
  100% {
    opacity: 1;
  }
}

@keyframes linearwipe {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 40vw;
    opacity: 1;
  }
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
