#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

body {
  background-color: #000;
  background-image: linear-gradient(
    to right bottom,
    #000000,
    #130e11,
    #1d171d,
    #24202b,
    #282a3a
  );
  color: aliceblue;
  padding: 0px;
  margin: 0px;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: aliceblue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding: 1rem;
  color: #d8d7ff;
}

.fade {
  mask-image: linear-gradient(180deg, #000 20%, transparent);
}

.blog-grid {
  padding-top: 10vh;
}

/* [id] styling */

.blog-solo-image {
  max-width: 100%;
  min-height: 150px;
  max-height: 450px;
  object-fit: cover;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.blog-link {
  text-decoration: underline;
  color: #c2c1e5;
}

.blog-link:hover {
  color: #735f32;
}

.legend {
  text-align: center;
  font-size: 0.9rem;
  font-style: italic;
}

.code-block {
  max-width: 100%;
  border-radius: 5px;
}

/* blog list styling */

.blog-list {
  padding: 1rem;
}

.blog-list-wrapper {
  background-color: #282a3a;
  margin-bottom: 0.2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2rem;
}

.blog-list-title {
  font-size: 2.1rem;
  padding: 1rem;
  color: #d8d7ff;
}

.blog-list-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.blog-list-date {
  font-size: 0.8rem;
  padding-left: 1rem;
}

.blog-list-text {
  font-size: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* blog author styling */

.blog-author-wrapper {
  margin: 0px;
}

.blog-author-image {
  border-radius: 6rem;
  height: 20rem;
}

.blog-author-text {
  padding: 1rem;
}

.blog-social-media {
  margin-left: 2.5rem;
}

.blog-icon {
  height: 2.5rem;
  margin: 1rem;
}

/* blog sidebar */

.blog-sidebar {
  display: none;
}

.sidebar-text {
  text-align: center;
}

.sidebar-date {
  font-size: 0.8rem;
  padding-top: 0;
}

/* blog header styling */

.blog-header {
  height: 200px;
  background-color: #c2c1e5;
  background-image: url("./assets/images/alexandru-acea-XEB8y0nRRP4-unsplash.jpg");
  background-size: cover;
  background-position: 0% 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-header-title {
  background-color: #282a3abf;
  width: fit-content;
  max-width: 95vw;
  border-radius: 1rem;
  box-shadow: 0 0 1rem;
  margin-right: auto;
  margin-left: auto;
  color: aliceblue;
}

/* blog article styling */

.blog-wrapper {
  padding: 1rem;
}



@media (min-width: 768px) {
  .blog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header"
      "blog blog author";
  }

  .blog-header {
    grid-area: header;
    height: 300px;
  }

  .blog-list {
    grid-area: blog;
    padding: 1rem;
  }

  .blog-author-wrapper {
    grid-area: author;
  }

  .blog-wrapper {
    grid-area: blog;
  }
}

@media (min-width: 992px) {
  .blog-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header"
      "sidebar blog blog author";
  }

  .blog-sidebar {
    grid-area: sidebar;
    display: block;
  }

  .sidebar-wrapper:hover {
    color: #c69749;
    text-shadow: 0px 0px 0.2em #c69749;
  }

  .sidebar-title {
    padding: 0.5em;
    font-size: 1.1em;
  }

  .blog-header {
    height: 350px;
  }

  .sidebar-date {
    padding-bottom: 1rem;
  }
}

@media (min-width: 1200px) {
  .blog-grid {
    display: grid;
    grid-template-columns: 1fr 300px minmax(300px, 400px) minmax(300px, 400px) 300px 1fr;
    grid-template-rows: auto 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header header header"
      ". sidebar blog blog author .";
  }
  .blog-list-image {
    max-width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
