.loader {
  background-color: transparent;
  width: 170px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
}
.loaderbox {
  background-color: transparent;
  width: 170px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.underscore {
  margin-right: auto;
  margin-top: 5px;
  height: 10px;
  animation: entryUnderscore 0.5s forwards 1.5s;
}
.kFirst {
  width: 10px;
  --height: 100px;
  margin-left: 10px;
  position: absolute;
  animation: entryStraight 0.4s forwards;
  transition: background-color 2s; 
}
.kSecond {
  width: 10px;
  --height: 80px;
  transform: rotate(45deg);
  position: absolute;
  margin-left: 68px;
  margin-top: -10px;
  transform-origin: 0% 0%;
  animation: entryStraight 0.4s forwards 0.2s;
}
.kThird {
  width: 10px;
  --height: 80px;
  transform: rotate(330deg);
  position: absolute;
  transform-origin: 0% 0%;
  margin-left: 28px;
  margin-top: 40px;
  animation: entryStraight 0.2s forwards 0.4s;
}
.bFirst {
  width: 10px;
  --height: 100px;
  margin-left: 90px;
  position: absolute;
  animation: entryStraight 0.4s forwards 0.6s;
}
.bSecond {
  transform: rotate(270deg);
  transform-origin: 0% 0%;
  --height: 35px;
  width: 10px;
  margin-left: 90px;
  margin-top: 10px;
  position: absolute;
  animation: entryStraight 0.1s forwards 0.8s;
}
.bThird {
  transform-origin: 0% 0%;
  --height: 35px;
  width: 10px;
  margin-left: 133px;
  margin-top: 45px;
  position: absolute;
  transform-origin: 0% 0%;
  transform: rotate(90deg);
  animation: entryStraight 0.1s forwards 1s;
}
.bForth {
  --height: 35px;
  width: 10px;
  margin-left: 133px;
  margin-top: 90px;
  position: absolute;
  transform-origin: 0% 0%;
  transform: rotate(90deg);
  animation: entryStraight 0.1s forwards 1.2s;
}
.bFith {
  width: 55px;
  height: 55px;
  margin-left: 95px;
  top: 0px;
  position: absolute;
}
.bFith::before,
.bFith::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border: 10px solid;
  border-radius: 50%;
  opacity: 0;
  transform: rotate(45deg);
  animation: entryCurve 0.1s linear forwards 0.9s;
}
.bSixth {
  width: 55px;
  height: 55px;
  margin-left: 105px;
  top: 45px;
  position: absolute;
}
.bSixth::before,
.bSixth::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border: 10px solid;
  border-radius: 50%;
  opacity: 0;
  transform: rotate(45deg);
  animation: entryCurve 0.1s linear forwards 1.1s;
}

@keyframes entryStraight {
  from {
    background-image: linear-gradient(
      var(backgroundColor)
      rgba(255, 255, 255, 0)
    );
    height: 0px;
  }
  to {
    background-image: linear-gradient(
      var(backgroundColor)
      rgba(255, 255, 255, 0)
    );
    height: var(--height);
    background-color: var(backgroundColor);
  }
}

@keyframes entryCurve {
  0% {
    opacity: 1;
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    opacity: 1;
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    opacity: 1;
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

@keyframes entryUnderscore {
  0% {
    width: 0px;
    background-color: var(backgroundColor);
  }
  100% {
    width: 170px;
    background-color: var(backgroundColor);
  }
}