.navbar {
  position: fixed;
  display: flex;
  height: 10vh;
  min-height: 40px;
  width: 100vw;
  z-index: 999;
  transition: background-color 2s, color 2s;
}

.menu-btn {
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 1rem;
  border: 0;
  border-radius: 5px;
  background-color: black;
}

.hamburger {
  height: 32px;
  width: 32px;
  padding-top: 4px;
  cursor: pointer;
  z-index: 3;
}

.hamburger:hover {
  color: orange;
}

.darkMode-btn {
  height: 40px;
  width: 40px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: 2rem;
  border: none;
  background-color: grey;
  border-radius: 0.5rem;
  z-index: 2;
}

.links-list {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  z-index: 3;
}

.links-closer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.link-item {
  text-decoration: none;
  text-align: center;
  padding: 0.8rem;
  border-bottom: 1px solid aliceblue;
  color: black;
  background-color: grey;
  animation-name: fadeInMenu;
  animation-duration: 1s;
}

.link-item:hover {
  color: orange;
  text-shadow: 0 0 5px;
}

.link-item-bottom {
  border: none;
}

.link-item-dark {
 color: lightcyan;
 background-color: black;
}

.hidden {
  display: none;
}

.nav-dark {
  color: lightcyan;
}

.nav-fill-dark {
  color: lightcyan;
  background-color: black;
}

@keyframes fadeInMenu {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 768px) {
  .navbar {
    align-items: center;
  }
  .navbar-fill {
    position: absolute;
    height: 10vh;
    width: 100vw;
  }
  .menu-btn {
    display: none;
  }
  .hidden {
    display: inline;
  }
  .links-list {
    display: flex;
    flex-direction: row;
    margin-top: 0;
    margin-left: 2rem;
  }
  .link-item {
    border: none;
  }
  .darkMode-btn {
    margin-top: 0;
  }
}

@media (min-width: 992px) {
  .links-list {
    margin-left: auto;
    margin-right: 10rem;
  }
  .darkMode-btn {
    margin-right: auto;
    margin-left: 10rem;
  }
}
